*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flexContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexContainer button{
  margin: 10px auto;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  background-color: cornflowerblue;
}

.gridContainer{
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto auto;
}

@media only screen and (max-width: 425px){
  .gridContainer{
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 320px){
  .gridContainer{
    grid-template-columns: auto;
  }
}